.Mosaic {
  width: 100%;
  padding: 2rem 1rem 0 1rem;
  display: flex;
  gap: 1rem;
}

@media (orientation: landscape) {
  .Mosaic {
    padding: 3.5rem 4rem 0 4rem;
  }
}

.Mosaic[data-columns-quantity='1'] {
  --cols-number: 1;
}

.Mosaic[data-columns-quantity='2'] {
  --cols-number: 2;
}

.Mosaic[data-columns-quantity='3'] {
  --cols-number: 3;
}

.Mosaic[data-columns-quantity='4'] {
  --cols-number: 4;
}
