:root {
  --logo-font-size: 25px;
  --black-pexels: #232a34;
  --green-pexels: #05a081;
  --gray-dark: #2a2f38;
  --gray-light: #7f848d;
  --black-gray: #212121;
  --white-gray: #eeeeee;
  --red: #a0050e;
  --red-light: #e76060;
  --skyblue: #057ba0;
  --skyblue-light: #60a6e7;
  --green-light: #60e765;
}
