.Header {
  background-color: var(--black-pexels);
  color: white;
  padding: 1em min(8vw, 5em);
  display: flex;
  align-items: center;
}

.Header-logo {
  font-family: 'ABeeZee', -apple-system, 'Roboto', sans-serif;
}

.Header-logo h1 {
  margin: 0;
  font-size: var(--logo-font-size);
  user-select: none;
}

@media (min-width: 575.98px) {
  :root {
    --logo-font-size: 40px;
  }
}

.Header-logo h1 a {
  color: inherit;
  text-decoration: none;
}

.Header-search_wrapper {
  flex-grow: 1;
  text-align: center;
  margin-left: 1em;
  margin-right: 0.8em;
}

@media (min-width: 575.98px) {
  .Header-search_wrapper {
    margin-left: 4em;
    margin-right: 2em;
  }
}

.Header-search_input {
  font-size: 14px;
  color: var(--white-gray);
  background-color: #00000060;
  padding: 1em 1.4em;
  border: none;
  border-radius: 6px;
  width: clamp(100px, 100%, 600px);
}

.Header-search_input:focus {
  outline: none;
  color: black;
  background-color: var(--white-gray);
}

.Header-search_input::placeholder {
  color: var(--gray-light);
}

.Header-pexels_link {
  width: 45px;
  padding-top: 2px;
}

.Header-pexels_link img {
  width: 100%;
}
